.options{
 display: flex;
 gap: 12px;
 justify-content: center;
 
}

.button{
    padding: 0;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    transition: all 250ms;
    background-color: darkgray;
    color: #e8e6e6;
    cursor: pointer;
}

.button:hover {
    background-color: #a19f9f;
    color:#f0f0f0 ;
    box-shadow: 2px 2px #707070;
}